<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" >Store</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" >Hello <strong>{{user.username}}</strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  href="{% url 'store' %}" >Store</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  href="{% url 'logout' %}" >Logout</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'register' %}">Register</a>
      </li>
      {% endif %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Department
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Civil_engineering">Civil</a>
          <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Computer_science_and_engineering">Computer Science</a>
          <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Mechanical_engineering">Mechanical</a>
          <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Electronic_engineering">Electronics</a>
          <a class="dropdown-item" href="https://en.wikipedia.org/wiki/Electrical_engineering">Electrical</a>
        </div>
      </li>
    </ul>
  </div>
</nav>